.details-item {
  padding: 70px 5%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.details-text-container {
  color: #fff;
  padding: 20px;
}

.details-title {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 8px;
  padding-right: 100px;
}

.details-subtitle {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: normal;
  padding-right: 100px;
}

.details-image {
  max-width: 100%;
  height: auto;
}
.details-image-container {
  text-align: center;
}
