.footer-container {
  max-width: 1000px;
  margin: auto;
  padding: 70px 56px;
}

.footer-title {
  font-size: 16px;
  color: #757575;
  margin-bottom: 50px;
}

.footer-row {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-link {
  color: #757575;
  margin-bottom: 20px;
  font-size: 13px;
}
